body{
    font-family: Arial;
    margin: 0;
    background-color: #fff8f0;
}
header{
    background-color: #8B0000;
    color: white;
    padding: 40px 20px;
    text-align: center;
    p{
        font-size: 1.5em;
    }
    h1{
        color: white;
        font-size: 2.5em;
        margin-bottom: 10px;
    }
    a{
        text-decoration:none;
    }
}
.header-conteiner{
    display: flex;
    flex-direction: row;
}
.header-texto{
    margin: 0 auto;
    text-align: center;
}

.logo{
    height: 80px;
    width: auto;
    border-radius: 10px;
    border: 2px solid black;

}
section{
    max-width: 1100px;
    margin: 30px auto;
    padding: 20px;
    text-align: justify;
}

.img-carnesInicio{
    display: flex;
    gap: 10%;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    margin-top: 30px;
}

.img-carnesInicio img{
    max-width: 30%;
    border-radius: 10px;
    border: 2px solid black;
}
.nav-botoes{
    display: flex;
    flex: nowrap;
    justify-content: center;
    gap: 10px;
}
.nav-botoes a {
    background-color: #e67e22;
    color:white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight:bold;
    transition: background 0.3s ease;
    border: 2px solid ;
}
.nav-botoes a:hover{
    background-color: #d35400;
}

footer{
    background-color: #8B0000;
    padding: 10px;
    color: white;
    a{
        text-decoration:underline;
        color: white;
    }
}
.rodape-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.lista-fogo{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 0px;
    div{ 
        background-color: white;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
        padding: 30px;
        border-radius: 13px;
    }
}
.lista-fogo li{
    font-size: 1.2em;
}
.lista-fogo ul{
    padding: 30px;
    width: auto;
}